# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized|

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. ggplot
4. matplotlib

|Data Science Tools|
|---------------|
|RStudio|
|JupyterLab|
|VS Code|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
print(round(minutes/60,2))

3.33

# **Objectives**

* List popular languages for Data Science
* List of open source tools used for data science
* How to upload code files on githup
* Different ways to do plotting in R language
* Complete guide to use jupyterlab and jupyter notebook

## Author

Tanay Gupta